.card {
  max-width: 100%;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius);
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn:focus {
  transform: scale(1.25);
}
