.card {
  max-width: 100%;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 710px) {
  .card {
    max-width: 288px;
    margin: 0 auto;
  }

  .card__title {
    font-size: 16px;
  }

  .card__content {
    width: 288px;
    height: 18px;
  }

  .card__image {
    max-width: 288px;
    max-height: 288px;
    margin-bottom: 12px;
  }
}
