.cards {
  max-width: var(--max-width-container);
  margin: 0 auto;
  border-bottom: 1px var(--color-text) solid;
}

.cards__list {
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  justify-content: center;
  padding: 20px 0 20px;
  gap: 40px 20px;
}
