:root {
  --spacing-standard: 16px;
  --spacing-large: 32px;
  --border-radius: 8px;
  --max-width-container: 1280px;
  --font-weight-medium: 500;
}

.content {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 710px) {
  .content {
    padding: 16px;
  }
}
