:root {
  --spacing-standard: 16px;
  --spacing-large: 32px;
  --border-radius: 8px;
  --max-width-container: 1280px;
  --font-weight-medium: 500;
  --color-text: #212121;
  --color-background: #fcf5e5;
}

.page {
  background-color: var(--color-background);
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: var(--max-width-container);
  margin: 0 auto;
}
