:root {
  --color-background: #fcf5e5;
  --color-text: #212121;
}

.page {
  background-color: var(--color-background);
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
