.profile {
  display: flex;
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px var(--color-text) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: var(--border-radius);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: var(--font-weight-medium);
  font-size: var(--spacing-large);
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weight-medium);
  font-size: var(--spacing-standard);
  line-height: 1;
  opacity: 70%;
  gap: 6px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  font-weight: var(--font-weight-medium);
  font-size: var(--spacing-standard);
  line-height: 1;
  color: var(--color-text);
  top: 20px;
  left: 20px;
  opacity: 70%;
  border-radius: 90px;
  gap: 8px;
  background-color: var(--color-background);
  border: none;
}

.profile__add-btn {
  margin-left: auto;
  padding: 18px 32px;
  display: flex;
  align-self: flex-end;
  border-radius: var(--border-radius);
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: var(--font-weight-medium);
  font-size: var(--spacing-standard);
  line-height: 1;
  gap: 8px;
  white-space: nowrap;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn:hover {
  background-color: var(--color-text);
  font-weight: normal;
  opacity: 80%;
}
